    <div class="cd-filter">
      <form class="form-inline ml-auto" type="submit" method="GET" action='{% url "saerch_view" %}'>
        <div class="form-group has-black" style="height: 30px; width: 80%">
          <input type="text" class="form-control" placeholder="поиск" name="q">
        </div>
        <button type="submit"  style="top: 23px" class="btn btn-primary btn-raised btn-fab  btn-round">
            <i class="material-icons">search</i>
        </button>
        
          <div class="cd-filter-block">

          <ul class="cd-filter-content cd-filters list">
            <h4> опции </h4>
            <li>
              <div class="togglebutton">
              <label>
                    <input class="filter-price" data-filter=".price" type="checkbox" id="checkbox1">
                    <span class="toggle" for="price"></span> цена
              </label>
            </div>
            </li>

            <li>
              <div class="togglebutton">
              <label>
                    <input class="filter" data-filter=".tagstock" type="checkbox" id="checkbox1">
                    <span class="toggle" for="tagstock"></span> акции 
              </label>
            </div>
            </li>
            <li>
              <div class="togglebutton">
              <label>
                    <input class="filter" data-filter=".tagstock" type="checkbox" id="checkbox1">
                    <span class="toggle" for="tagstock"></span> популярное
              </label>
            </div>
            </li>
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->

        <div class="cd-filter-block" style="width: 100%;">
          <h4> города </h4>

          <ul class="cd-filter-content cd-filters list" style="width: 100%;">
             {% for city in cities %}
             <li>
              <div class="togglebutton">
              <label>
                    <input class="filter"  data-filter=".{{ city.slug }}" type="checkbox" id="checkbox1">
                    <span class="toggle" for="{{ city.slug }}"></span>{{ city }}
              </label>
            </div>
            </li>
               {% endfor %}
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
      </form>

      <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->

    <a href="#0" class="cd-filter-trigger">Filters</a>

