    <footer class="footer">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="/">
                главная
              </a>
            </li>
            <li>
              <a href="/objects">
                объекты
              </a>
            </li>
            <li>
              <a href="/contact">
                контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, сделано с <i class="material-icons">favorite</i> от
          <a href="https://www.creative-tim.com" target="_blank"> Stanislaw Shilov</a> для АН Мой Дом.
        </div>
      </div>
    </footer>
  