{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include "filter.html" %}
 <!-- cd-tab-filter-wrapper -->
   <div class="sticky" style=" position: absolute;
  position: sticky;
  top: 120px;
  right: 0;
  float: right;
  padding: 80px;
  background: red;
  color: #fff;
  font-size: 30px;">
    "position: sticky" block
   </div>
    <div class="content">
    <div class="cd-tab-filter-wrapper">
       <div class="cd-tab-filter">
         <ul class="cd-filters">
          <li class="placeholder"> 
            <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
          </li> 
          <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
          <li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Color 1</a></li>
          <li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Color 2</a></li>
        </ul> <!-- cd- filters -->
      </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
      {% block contento %}
      <ul class="cd-gallery-price">
        {% block content_сategiries %}
            {% for article in articles %}
                {% include "object_card.html" %}
            {% endfor %}
        {% endblock content_сategiries %}
        <li class="gap"></li>
        <li class="gap"></li>
        <li class="gap"></li>
      </ul>
      <div class="cd-fail-message">No results found</div>
      {% endblock contento %}
    </section> <!-- cd-gallery -->
    </div>
 {% endblock content %}
