{% load i18n %}
{% load static %}
<li class="mix mix-count mix-price selected_obj {{ article.city.slug }} {{ article.category.slug }} {{ article.price }} {{ article.stok.tag }} {{ article.appointment.slug }} {% if article.status %} interest {% endif %}" data-price="{{ article.price }}" data-count="{{ article.coun }}">
<div class="card mb-3 line_card card-nav-tabs">
    <div class="img-container" style="background-image: url('{{ article.image.url }}'); background-repeat: no-repeat; background-size: cover; height: 300px">
     <div style="padding: 12px; float: right!important;" class="cd-filter-block">
    {% if article.stok %}
<a type="button" style="cursor: pointer;" data-container="body" data-toggle="popover"  class="badge badge-info" data-placement="bottom" data-content="{{ article.stok }}"># акция</a>
    {% endif %}
   <a href="#" id="{{ article.category.slug }}" class="badge badge-info"># {{ article.category }}</a>
   <a href="#" id="{{ article.city.slug }}" class="badge badge-info"># {{ article.city  }}</a>
   <a href="#" id="{{ article.appointment.slug }}" class="badge badge-info"># {{ article.appointment  }}</a>
   <a href="{{ article.get_absolute_url }}#favor"  data-toggle="tooltip" class="badge badge-info">id: {{ article.id_prop }}</a>

<!-- Generated markup by the plugin -->
    </div>
    </div>
  <div class="card-body">
    <div class="aget-info">
    <div class=" ml-auto card_agent_avatar">
       <img src="{{ article.agent.avatar.url }}" alt="Thumbnail Image" class="rounded-circle agent_img img-fluid">
    </div>
    <a href="{{ article.get_absolute_url }}" class="card-agent-name">{{ article.agent.first_name }} {{ article.agent.last_name }}
    <p class="text-muted card-major">агент</p></a>
    <p style="color:#888; padding-left:10%; display: contents;"><i class="material-icons" style="color:#00bcd4; padding: 0px 5px 3px 0px;
    vertical-align: middle; font-size: 17px;">remove_red_eye</i><span id="count">{{ article.coun }}</span></p>
    
    </div>
    <h4 class="card-title">{{ article.title }}</h4>
    <p class="card-text">{{ article.desc|truncatechars:130 }}</p>
    <p class="card-text"><small class="text-muted">{% language 'ru' %}
              {{ article.date|date:"j E Y"}}
            {% endlanguage %}
          </small></p>
    <div class="card-footer-obj">
    <a href="{{ article.get_absolute_url }}" class="btn btn-info"> смотреть </a>
    <h1><img src="{% static 'images/ruble.svg' %}"><span id="price">{{ article.price }}</span></h1>
    </div>
  </div>
</div>
</li>

