{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include "filter.html" %}
 <!-- cd-tab-filter-wrapper -->
              
   <div class="sticky">
  <section id="slider" class="container">
    <ul class="slider-wrapper">
      {% for add in main_media %}
        
        <li class="current-slide">
          <img src="{{ add.adimage.url }}" title="" alt="">
        </li>
      {% endfor %}
        {% for add in articles %}
          {% if add.status %}
            <li class="current-slide">
              <a href="{{ add.get_absolute_url }}">

              <img src="{{ add.image.url }}" title="{{ add.title }}" alt=""><div style="width: 100%; height: 100%; background-color: #222; opacity: 0.3; position: absolute; right: 0%"></div>
              <div class="card-img-overlay">
              <h1 style="color: #fff; font-size: 1.3em; font-weight: 800">{{ add.title }}</h1>
              <h1 style="color: #fff; font-size: 1em; font-weight: 800">{{ add.city }}</h1>
              <h1 style="color: #fff; font-size: 1em; font-weight: 800">{{ add.price }} рублей</h1>

              </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}

    </ul>
    <!-- Sombras -->
    <div class="slider-shadow"></div>

  </section>


   <div class="sticky-quest questions">
   {% for q in question %}
      <button type="button"  class="card" data-toggle="modal" data-target="#{{ q.slug }}">
                <div class="card-body">
                        {{ q.quest }}
                </div>
        </button>


<!-- Modal -->
<div class="modal fade" id="{{ q.slug }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ q.quest }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ q.answer }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
        <button type="button" class="btn btn-primary">подробно</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
   </div>
   <div id="sidebar" class="sticky-menu sidebar-menu">
     <div class="card card-nav-tabs">
      <form class="form-inline ml-auto" type="submit" method="GET" action='{% url "saerch_view" %}'>
        <div class="card-header card-header-info">
            <div class="form-group no-border">
                <input type="text" class="form-control" placeholder="поиск" name="q">
                </div>
                <button type="submit" class="btn btn-white btn-just-icon btn-round">
                    <i class="material-icons">search</i>
                </button> 

        </div>
        <div class="cd-filter-block">

          <ul class="cd-filter-content cd-filters list">
            <li class="price-slider" >
<input type="text" id="amount" class="price-input"/>
          
          <div id="slider-range">
            
            <div type="text" id="sliderDouble"/></div>
          </div>
          </li>
          
            <h4 class="text-li-article"> опции </h4>
              <li>
              <div class="togglebutton">
              <label>
                    <input class="filter-price" data-filter=".price" type="checkbox" id="checkbox1">
                    <span class="toggle" for="price"></span> цена
              </label>
            </div>
            </li>

            <li>
              <div class="togglebutton">
              <label>
                    <input class="filter" data-filter=".tagstock" type="checkbox" id="checkbox1">
                    <span class="toggle" for="tagstock"></span> акции 
              </label>
            </div>
            </li>
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
        <div class="cd-filter-block" style="width: 100%;">
          <h4 class="text-li-article"> назначение </h4>

          <ul class="cd-filter-content cd-filters list" style="width: 100%;">
             {% for appoint in appointment %}
             <li>
              <div class="togglebutton">
              <label>
                    <input class="filter"  data-filter=".{{ appoint.slug }}" type="checkbox" id="checkbox1">
                    <span class="toggle" for="{{ appoint.slug }}"></span>{{ appoint }}
              </label>
            </div>
            </li>
               {% endfor %}
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->

        <div class="cd-filter-block" style="width: 100%;">
          <h4 class="text-li-article"> города </h4>

          <ul class="cd-filter-content cd-filters list" style="width: 100%;">
             {% for city in cities %}
             <li>
              <div class="togglebutton">
              <label>
                    <input class="filter"  data-filter=".{{ city.slug }}" type="checkbox" id="checkbox1">
                    <span class="toggle" for="{{ city.slug }}"></span>{{ city }}
              </label>
            </div>
            </li>
               {% endfor %}
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
      </form>
      </div>
</div>
    <div class="content">
    <div class="cd-tab-filter-wrapper">

       <div class="cd-tab-filter" >

      </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery" id="CategoryContent">
    {% block card %}
    {% endblock card %}
      <ul class="cd-gallery-price"  id="products">
        {% block contento %}
        {% block content_сategiries %}
            {% for article in articles %}
                {% include "object_card.html" %}
            {% endfor %}
        {% endblock content_сategiries %}
        {% endblock contento %}
        <li class="gap"></li>
        <li class="gap"></li>
        <li class="gap"></li>
      </ul>
      <div class="cd-fail-message">объектов не найдено</div>
      
    </section> <!-- cd-gallery -->
    </div>


 {% endblock content %}
 {% block sliderscript %}
 <script type="text/javascript">
$(function() {
  /** -----------------------------------------
   * Modulo del Slider 
   -------------------------------------------*/
   var SliderModule = (function() {
    var pb = {};
    pb.el = $('#slider');
    pb.items = {
      panels: pb.el.find('.slider-wrapper > li'),
    }

    // Interval del Slider
    var SliderInterval,
      currentSlider = 0,
      nextSlider = 1,
      lengthSlider = pb.items.panels.length;

    // Constructor del Slider
    pb.init = function(settings) {
      this.settings = settings || {duration: 8000};
      var items = this.items,
        lengthPanels = items.panels.length,
        output = '';

      // Insertamos nuestros botones
      for(var i = 0; i < lengthPanels; i++) {
        if(i == 0) {
          output += '<li class="active"></li>';
        } else {
          output += '<li></li>';
        }
      }

      $('#control-buttons').html(output);

      // Activamos nuestro Slider
      activateSlider();
      // Eventos para los controles
      $('#control-buttons').on('click', 'li', function(e) {
        var $this = $(this);
        if(!(currentSlider === $this.index())) {
          changePanel($this.index());
        }
      });

    }

    // Funcion para activar el Slider
    var activateSlider = function() {
      SliderInterval = setInterval(pb.startSlider, pb.settings.duration);
    }

    // Funcion para la Animacion
    pb.startSlider = function() {
      var items = pb.items,
        controls = $('#control-buttons li');
      // Comprobamos si es el ultimo panel para reiniciar el conteo
      if(nextSlider >= lengthSlider) {
        nextSlider = 0;
        currentSlider = lengthSlider-1;
      }

      controls.removeClass('active').eq(nextSlider).addClass('active');
      items.panels.eq(currentSlider).fadeOut('slow');
      items.panels.eq(nextSlider).fadeIn('slow');

      // Actualizamos los datos del slider
      currentSlider = nextSlider;
      nextSlider += 1;
    }

    // Funcion para Cambiar de Panel con Los Controles
    var changePanel = function(id) {
      clearInterval(SliderInterval);
      var items = pb.items,
        controls = $('#control-buttons li');
      // Comprobamos si el ID esta disponible entre los paneles
      if(id >= lengthSlider) {
        id = 0;
      } else if(id < 0) {
        id = lengthSlider-1;
      }

      controls.removeClass('active').eq(id).addClass('active');
      items.panels.eq(currentSlider).fadeOut('slow');
      items.panels.eq(id).fadeIn('slow');

      // Volvemos a actualizar los datos del slider
      currentSlider = id;
      nextSlider = id+1;
      // Reactivamos nuestro slider
      activateSlider();
    }

    return pb;
   }());

   SliderModule.init({duration: 4000});

});
  </script>
  {% endblock sliderscript %}
  {% block price-filter-script %}
        <script type="text/javascript">
  var convertPrice = function(value){
     return parseFloat(value.replace('$',''));
}



    var $filters = $("input:radio[name='brand'],input:radio[name=team]").prop('checked', false); // start all checked
    var $categoryContent = $('#CategoryContent li');
    $filters.click(function() {
        // if any of the checkboxes for brand or team are checked, you want to show LIs containing their value, and you want to hide all the rest.
        $categoryContent.hide();
        $filters.filter(':checked').each(function(i, el) {
            $categoryContent.filter(':contains(' + el.value + ')').show();
        });
    });

    function showProducts(minPrice, maxPrice) {
        $("#products li").hide().filter(function() {
            var price = parseInt($(this).data("price"), 10);
            return price >= minPrice && price <= maxPrice;
        }).show();
    }

    $(function() {
        var options = {
            range: true,
            min: 0,
            max: 500000000,
            values: [500000, 1000000],
            slide: function(event, ui) {
                var min = ui.values[0],
                    max = ui.values[1];

                $("#amount").val("руб " + min + " - руб " + max);
                showProducts(min, max);
            }
        }, min, max;

        $("#slider-range").slider(options);

        min = $("#slider-range").slider("values", 0);
        max = $("#slider-range").slider("values", 1);

        $("#amount").val("руб " + min + " - руб " + max);

        showProducts(min, max);
    });
    </script>
  {% endblock price-filter-script %}
